* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    overflow: none;
    background-color: azure;
    color: #0c273a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navbar */

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 100%;

}

.main-nav {
    list-style-type: none;
    display: flex;
    font-size: 14px;
}

.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px 20px;
}

/* cabecera */

header {
    background-image: linear-gradient(#2376ae, transparent);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    text-align: center;
    color: #0c273a;
    width: 100%;

}

header:hover {
    cursor: pointer;
}

main {
    padding: 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#defHojaTec {
    padding: 2%;
    display: none;
    flex-direction: column;
    text-align: justify;
}



@media screen and (min-width: 768px) {
    .navbar {
        font-size: 18px;
        background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .main-nav {
        list-style-type: none;
        display: flex;
        margin-right: 5%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .nav-links {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }

    .main-nav li {
        text-align: center;
        margin: 15px 20px;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}